* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header {
  height: 100px;
  width: 100vw;
  border-bottom: 2px solid #dddd;
  text-align: center;
}
.admin_conten {
  padding-top: 50px;
  display: flex;
}
.admin_content_left {
  background-color: #dddddd;
  width: 15%;
  height: 100vh;
  padding: 10px 0 0 12px;
}
.admin_content_left > ul > li > a {
  font-weight: bold;
}
.admin_content_left ul li {
  margin: 6px 0;
}
.admin_content_left ul ul {
  margin-left: 20px;
}
.admin_content_right {
  width: 85%;
  padding: 30px 0 0 12px;
}
/* -------------------list--------------------- */
.admin_content_right_list table {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.admin_content_right_list table tr th,
td {
  border: 1px solid #dddddd;
}
table {
  border-collapse: collapse;
}

/* -------------------content_add---------------- */
